#form-title {
    font-size: 28px;
    font-style: bold;
}

#description {
    resize: none;
}

#form-title {
    text-align: center;
}

#form {
    padding-top: 50px;
}

#form-content {
    padding-top: 30px;
    font-size: 14px;
}

#buttons {
    text-align: center;
    padding-bottom: 50px;
}

#submit {
    margin-right: 5px;
}

#save {
    margin-right: 5px;
}

#add-image {
    width: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 10px; 
    right: 10px;
    height: 50px;
    background-color: #F5F5F8;
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.12);
}