<div class="container-fluid">
    <app-header></app-header>
<form id="form">
  <div id="form-title">ADD A PLACE</div>
  <div id="form-content">
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 offset-sm-2">Place name</label>
        <input type="text" class="form-control col-sm-6" id="inputFirstName" name="inputFirstName" required
          placeholder="   Enter place name...">
      </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Photos</label>
      <img src="../../../assets/images/picture.png" alt="edit" id="add-image">
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Street number</label>
      <input type="text" class="form-control col-sm-6" id="inputFirstName" name="inputFirstName" required
        placeholder="   Enter address...">
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Street</label>
      <input type="text" class="form-control col-sm-6" id="inputFirstName" name="inputFirstName" required
        placeholder="   Enter address...">
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Postcode</label>
      <input type="text" class="form-control col-sm-6" id="inputFirstName" name="inputFirstName" required
        placeholder="   Enter address...">
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">City</label>
      <input type="text" class="form-control col-sm-6" id="inputFirstName" name="inputFirstName" required
        placeholder="   Enter address...">
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Type</label>
      <select class="form-control col-sm-6" id="exampleFormControlSelect1">
        <option>Restaurant</option>
        <option>Bars/Nightclubs</option>
        <option>Museums</option>
        <option>Landscapes</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Mark</label>
      <select class="form-control col-sm-6" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 offset-sm-2">Description</label>
      <textarea class="form-control col-sm-6" id="description" rows="3" placeholder="   Enter description..."></textarea>
    </div>
  </div>
  <div id="buttons">
      <button id="submit">SUBMIT</button>
      <button id="save">SAVE</button>
      <button id="cancel">CANCEL</button>
  </div>
</form>
<footer id="footer">
  <app-footer></app-footer>
</footer>
</div>
